// RED
$red-bgc: #d85858;
$red-circle1: #ce2121;
$red-circle2: #c41111;
// ORANGE
$orange-bgc: #d89c58;
$orange-circle1: #ce8f21;
$orange-circle2: #c47711;
// YELLOW
$yellow-bgc: #d8d658;
$yellow-circle1: #cece21;
$yellow-circle2: #c4c411;
// GREEN
$green-bgc: #58d88d;
$green-circle1: #21ce46;
$green-circle2: #11c420;
// BLUE
$blue-bgc: #58afd8;
$blue-circle1: #2197ce;
$blue-circle2: #115fc4;
// PURPLE
$purple-bgc: #ab58d8;
$purple-circle1: #9721ce;
$purple-circle2: #7911c4;
// PINK
$pink-bgc: #d858c5;
$pink-circle1: #ce21a9;
$pink-circle2: #c4119a;
// DARK THEME
$dark-bgc: #000000;
$text-white: #efefef;
$text-black: #000000;
