// RED
$red-bgc: #fb8383;
$red-circle1: #ff5454;
$red-circle2: #ff6868;
// ORANGE
$orange-bgc: #ffbb7b;
$orange-circle1: #ff9224;
$orange-circle2: #ffa530;
// YELLOW
$yellow-bgc: #fffd9f;
$yellow-circle1: #e6e671;
$yellow-circle2: #ecec65;
// GREEN
$green-bgc: #a9fca5;
$green-circle1: #82d37a;
$green-circle2: #50bb50;
// BLUE
$blue-bgc: #78d4ff;
$blue-circle1: #47c5ff;
$blue-circle2: #3b90ff;
// PURPLE
$purple-bgc: #da95ff;
$purple-circle1: #d478ff;
$purple-circle2: #ae3eff;
// PINK
$pink-bgc: #ff9ef0;
$pink-circle1: #ff83e4;
$pink-circle2: #ff5eda;
// DARK THEME
$dark-bgc: #000000;
$text-white: #efefef;
$text-black: #000000;
