#body {
  font-family: Caprasimo;
  background-color: #78d4ff;
}
#body nav {
  display: flex;
}
#body nav #switch-theme {
  opacity: 1;
}
#body nav #switch-theme .sun {
  display: none;
  position: absolute;
  margin: 15px 0 0 1vw;
  height: auto;
  width: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#body nav #switch-theme .sun:hover {
  cursor: pointer;
}
#body nav #switch-theme .moon {
  display: block;
  position: absolute;
  margin: 15px 0 0 1vw;
  height: auto;
  width: 1.5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#body nav #switch-theme .moon:hover {
  cursor: pointer;
}
#body nav #colors-and-works {
  display: flex;
  flex-direction: row;
  text-align: end;
  color: #000000;
  margin-left: 78vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 1;
}
#body nav #colors-and-works #colors {
  display: block;
  font-size: 1.5em;
  list-style: none;
}
#body nav #colors-and-works #colors:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector {
  display: none;
  position: absolute;
  margin-top: 55px;
  margin-left: -10.3vw;
  background-color: #efefef;
  border-radius: 50px;
}
#body nav #colors-and-works #colors-selector #red {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #ff5454;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #red:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #orange {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #ff9224;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #orange:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #yellow {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #e6e671;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #yellow:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #green {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #82d37a;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #green:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #blue {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #47c5ff;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #blue:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #purple {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #d478ff;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #purple:hover {
  cursor: pointer;
}
#body nav #colors-and-works #colors-selector #pink {
  height: 1.5vw;
  width: 1.5vw;
  background-color: #ff83e4;
  border-radius: 100px;
  margin: 1vw;
}
#body nav #colors-and-works #colors-selector #pink:hover {
  cursor: pointer;
}
#body nav #colors-and-works #p2 {
  display: block;
  font-size: 1.5em;
  margin-left: 5vw;
}
#body nav #colors-and-works #p2:hover {
  cursor: pointer;
}
#body nav #colors-and-works #p3 {
  display: none;
  font-size: 1.5em;
  margin-left: 4.5vw;
}
#body nav #colors-and-works #p3:hover {
  cursor: pointer;
}
#body main #start-breathing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0 0;
  color: #000000;
  overflow: hidden;
}
#body main #start-breathing #titel1 {
  font-weight: 100;
  font-size: 5em;
  opacity: 1;
}
#body main #start-breathing #titel2 {
  font-weight: 100;
  font-size: 5em;
  opacity: 1;
}
#body main #start-breathing #all-circle #circle {
  position: absolute;
  margin: 0 0 0 0.5vw;
  height: 19vh;
  width: 9vw;
  border-radius: 100px;
  background-color: #3b90ff;
}
#body main #start-breathing #all-circle #circle #start-button {
  display: block;
  color: #000000;
  position: absolute;
  font-size: 2.5em;
  background-color: #3b90ff;
  margin: 55px 0 0 0.3vw;
}
#body main #start-breathing #all-circle #circle:hover {
  cursor: pointer;
}
#body main #start-breathing #all-circle #circle2 {
  margin-top: -9px;
  height: 21vh;
  width: 10vw;
  border-radius: 100px;
  background-color: #47c5ff;
}
#body main #start-breathing .circle-transition {
  transition: all 1s ease;
}
#body main #how-it-works {
  display: none;
  justify-content: center;
  text-align: center;
}
#body main #how-it-works #hw-p1,
#body main #how-it-works #hw-p2,
#body main #how-it-works #hw-p3,
#body main #how-it-works #hw-p4 {
  margin: 3.5em;
  font-size: 1.5em;
  font-weight: 100;
  color: black;
}/*# sourceMappingURL=index.css.map */