@import "./colorsTheme.scss";

#body {
  font-family: Caprasimo;
  background-color: $blue-bgc;
  nav {
    display: flex;
    #switch-theme {
      opacity: 1;
      .sun {
        display: none;
        position: absolute;
        margin: 15px 0 0 1vw;
        height: auto;
        width: 1.5vw;
        user-select: none;
      }
      .sun:hover {
        cursor: pointer;
      }
      .moon {
        display: block;
        position: absolute;
        margin: 15px 0 0 1vw;
        height: auto;
        width: 1.5vw;
        user-select: none;
      }
      .moon:hover {
        cursor: pointer;
      }
    }
    #colors-and-works {
      display: flex;
      flex-direction: row;
      text-align: end;
      color: $text-black;
      margin-left: 78vw;
      user-select: none;
      opacity: 1;
      #colors {
        display: block;
        font-size: 1.5em;
        list-style: none;
      }
      #colors:hover {
        cursor: pointer;
      }
      #colors-selector {
        display: none;
        position: absolute;
        margin-top: 55px;
        margin-left: -10.3vw;
        background-color: $text-white;
        border-radius: 50px;
        #red {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $red-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #red:hover {
          cursor: pointer;
        }
        #orange {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $orange-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #orange:hover {
          cursor: pointer;
        }
        #yellow {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $yellow-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #yellow:hover {
          cursor: pointer;
        }
        #green {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $green-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #green:hover {
          cursor: pointer;
        }
        #blue {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $blue-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #blue:hover {
          cursor: pointer;
        }
        #purple {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $purple-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #purple:hover {
          cursor: pointer;
        }
        #pink {
          height: 1.5vw;
          width: 1.5vw;
          background-color: $pink-circle1;
          border-radius: 100px;
          margin: 1vw;
        }
        #pink:hover {
          cursor: pointer;
        }
      }
      #p2 {
        display: block;
        font-size: 1.5em;
        margin-left: 5vw;
      }
      #p2:hover {
        cursor: pointer;
      }
      #p3 {
        display: none;
        font-size: 1.5em;
        margin-left: 4.5vw;
      }
      #p3:hover {
        cursor: pointer;
      }
    }
  }
  main {
    // START BREATHING
    #start-breathing {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px 0 0 0;
      color: $text-black;
      overflow: hidden;
      #titel1 {
        font-weight: 100;
        font-size: 5em;
        opacity: 1;
      }

      #titel2 {
        font-weight: 100;
        font-size: 5em;
        opacity: 1;
      }
      #all-circle {
        #circle {
          position: absolute;
          margin: 0 0 0 0.5vw;
          height: 19vh;
          width: 9vw;
          border-radius: 100px;
          background-color: $blue-circle2;
          #start-button {
            display: block;
            color: $text-black;
            position: absolute;
            font-size: 2.5em;
            background-color: $blue-circle2;
            margin: 55px 0 0 0.3vw;
          }
        }
        #circle:hover {
          cursor: pointer;
        }
        #circle2 {
          margin-top: -9px;
          height: 21vh;
          width: 10vw;
          border-radius: 100px;
          background-color: $blue-circle1;
        }
      }
      .circle-transition {
        transition: all 1s ease;
      }
    }
    // HOW IT WORKS
    #how-it-works {
      display: none;
      justify-content: center;
      text-align: center;
      #hw-p1,
      #hw-p2,
      #hw-p3,
      #hw-p4 {
        margin: 3.5em;
        font-size: 1.5em;
        font-weight: 100;
        color: black;
      }
    }
  }
}
